
<div class="container ">
    <div class="d-flex flex-row my-4">
        <h1>Votre panier</h1>
    </div>
    <div class="d-flex flex-row justify-content-start no-gutters ">
        <div class="col-8 table_part">
            <table class="table border">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                
                                <td>{{ item.product.name }}</td>
                                <td >{{ item.product.price }} €</td>
                                <td>
                                    <form method="POST" action="{{ path('cart_modif', {'id' : item.product.id}) }}"> 
                                        <select name="quantity" class="" id="inlineFormCustomSelect">
                                            <option selected> {{ item.quantity }}</option>
                                            {% set numberItems = item.product.quantity %}

                                            {% if numberItems <= 10 %}
                                             {% for i in 1..item.product.quantity %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            {% else %}
                                                 {% for i in 1..10 %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            {% endif %}
                                           
                                            
                                        </select>
                                        <button type="submit" class="btn btn-dark btn-sm">Modifier</button>
                                    </form> 
                                </td>
                                <td>{{ item.product.price * item.quantity }} €</td>
                                <td>
                                    <a href="{{ path('cart_remove', {'id' : item.product.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right"> Option cadeau :  </td>
                            {# <td> <a href="{{ path('order_optionGift')}}" class="btn btn-success btn-sm"> Oui ! </a></td>
                            <td></td> #}
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">Total : </td>
                            <td>{{ total }} €</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </thead>
            </table>
            <div>
                <h4>Produits complémentaires</h4>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style=" width:60%;">
                
                <div class="carousel-inner">
                
                    {% set activeCarrousel = false %}

                    {% for product in productsAssociated  %}
                        {% if not activeCarrousel %}
                    <div class="carousel-item active">
                        {% set activeCarrousel = true %}
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <img class="d-block img-fluid" src="{{ asset('build/images/' ~ product.images)}}" alt="responsive image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-body">{{product.name}} <span class="badge badge-dark">{{product.price}} €</span></h5>
                                <a  class="btn btn-outline-dark btn-sm" href="{{path ('pageProduct', {'id' : product.id})}}">Voir</a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" style="filter: invert(1);" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" style="filter: invert(1);" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row  justify-content-start">
            <div class="col">
                <div class="d-flex flex-row  justify-content-around align-items-center p-4 border">
                    {% if app.user %}
                    <p>{{app.user.username}}</p>
                    <p>{{app.user.fidelityPoint}} points</p>

                    {% endif %}
                </div>
                <div class="d-flex flex-row  justify-content-between border p-4">
                    
                    {{form_start(form)}}
                    {{form_row(form.codeContent)}}
                    <button type="submit" class="btn btn-primary"> Valider </button>
                    {{form_end(form)}}
                </div>
                <div class="d-flex flex-column justify-content-between border p-4">
                    <p>Mode de livraison:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                        Express
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                        <label class="form-check-label" for="defaultCheck2">
                        Standard
                        </label>
                    </div>
                </div>
                {% if reducedAmount != null %}

                <div class="d-flex flex-row justify-content-between  p-4 border">
                    <p>  Total : </p>
                    <p> <del> {{ total }} € </del></p>
                    <p> {{reducedAmount}} € </p>

                </div>

                {% else %}
                    
                <div class="d-flex flex-row justify-content-between  p-4 border">
                    <p>Total :</p>
                    <p>{{ total }} €</p>
                </div>
                {% endif %}
                <div class="d-flex flex-row border">
                    <a class="w-100" href="{{path('order')}}"><button class="btn-danger w-100" style="height:80px;">NEXT STEP</button></a> 
                    </div>
                    <div class="d-flex flex-row border">
                    <a class="w-100" href="{{path('homepage')}}"><button class="btn-dark w-100" style="height:80px;">BACK TO STORE</button></a> 
                </div>
            </div>
        </div>
    </div>

    </div>
