<table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td >{{ item.product.price }} €</td>
                        <td>
                            <form method="POST" action="{{ path('cart_modif', {'id' : item.product.id}) }}"> 
                                <select name="quantity" class="" id="inlineFormCustomSelect">
                                    <option selected> {{ item.quantity }}</option>
                                    {% for i in 1..item.product.quantity %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                    
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm">Modifier</button>
                            </form> 
                           
                        </td>
                        <td>{{ item.product.price * item.quantity }} €</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id' : item.product.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                   <tr>
                    <td colspan="3" class="text-right"> Option cadeau :  </td>
                    {# <td> <a href="{{ path('order_optionGift')}}" class="btn btn-success btn-sm"> Oui ! </a></td>
                    <td></td> #}
                </tr>
                <tr>
                    <td colspan="3" class="text-right">Total : </td>
                    <td>{{ total }} €</td>
                    <td></td>
                </tr>
            </tfoot>
        </thead>
    </table>