{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# {{ encore_entry_link_tags('login') }} #}
{% endblock %}

{% block body %}

<div class="container " style="position:absolute;top:40%; left:50%; transform: translate(-50%,-50%);">

    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        L'adresse mail ou le mot de passe est incorrect ! 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    
    {% for message in app.flashes('notice') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
    
    <div class="d-flex flex-column" style="margin-bottom: 5%;">
        <h1> Connexion </h1>
        
    </div>

    <div class="row justify-content-around ">

        <div class="d-flex flex-column col-sm-12 col-lg-6 col-md-6 p-4 ">

            <h2>Je suis déjà utilisateur(-trice)</h2>
            <p>Saisissez votre adresse e-mail et votre mot de passe pour vous identifier.</p>
            
            <form action="{{path('security_login')}}" method="POST">
                <div class="form-group">
                    <input placeholder="Adresse mail" required name= "_username" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input placeholder="Mot de passe" required name= "_password" type="password" class="form-control">
                </div>

                <a href="{{path('security_forgottenPass')}}">Vous avez oublié votre mot de passe ?</a>
    
                <div class="form-group">
                    <button class="button--login btn  mt-4" type="submit"> SE CONNECTER</button>
                </div>
                
            </form>
    
    
        </div>
    
        <div class="register_form d-flex flex-column col-sm-12 col-lg-6 col-md-6 p-4  ">
            
            <div class="d-flex flex-column ">

                <h2>Nouveau chez nous ?</h2>
            <p>Si vous n'avez pas encore de compte d'utilisateur de acs.com, utilisez cette option pour accéder au formulaire d'inscription. 

                Nous vous demanderons les informations nous permettant d'accélérer le processus d'achat.</p>

            </div>
                    <a href="{{ path('security_registration')}}" class="button--login btn w-50 mx-0 mt-4">CREER UN COMPTE</a>    
        </div>

    </div>

</div>

{% endblock %}