{% extends 'base.html.twig' %}


{% block title %}Liste des produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexHomepage') }}
{% endblock %}

{% block body %}

  <main role="main"> 

  {% for message in app.flashes('notice') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
  

      <div class="album py-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
                  {# {% include 'product/_filter.html.twig' with {form:form} only %} #}
            </div>

            <div class="col-md-8 d-flex flex-wrap">
              <div class="col-md-12 my-4">
                <img class="card-img img-fluid" style="border:2px solid black;" src="{{ asset('build/images/banniere_eco.jpg')}}" alt="Card image">
              </div>
              
              {% for product in products %}
                {% include 'product/_card.html.twig' with {product:product} only %} 
              {% endfor %}
              <div class="col-12">
                <div class="navigation--home navigation d-flex justify-content-center p-4 mt-2">
                  {{ knp_pagination_render(products) }}
                </div>
              </div>
            </div>
        </div>



          </div>
    </main>
{% endblock %}


{% block side_filter %}
<div class="container">
    <div class="col-md-2 fixed-bottom py-4" style="z-index: 98;">
        <div class="col-12 text-right">
            <div class="collapse" id="navbarToggleExternalContent">
              {% include 'product/_filter.html.twig' with {form:form} only %}
            </div>
              <a class="button--home btn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icone--home fas fa-sort-amount-up"></i>
                <!-- <span class="navbar-toggler-icon"><i class="fas fa-sort-amount-up-alt"></i></span> -->
              </a>
          
        </div>
      </div>
  </div>
  {% endblock %}


{% block navBar %}
{% endblock %}
