{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse{% endblock %}

{% block body %}
<h1> Profil </h1>



<div class="container">
{% for message in app.flashes('notice') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<div class="row"> 
    <div class="col-md-6">
    <h2>Adresses favorites</h2>
    <a href="{{path('profil_addAddress')}}" class="btn btn-success">Ajouter une adresse</a>
    
    {% for address in addressUser %}
        {% include 'address/_cardAddress.html.twig' with {address:address, orderMode:orderMode} only %}
    {% endfor %}
    <h2>Historique de commande </h2>
    {% if not orders is empty %}
    {% for order in orders %}
        <p> Commande passée le : {{order.orderDate | date("d/m/Y") }} </p>
        <p> Statut de la commande : {{order.state}} </p>
        

        {% for product in order.ordersProducts %}
            <p> {{product.product.name}} Quantité : {{product.quantity}}  </p>
        {% endfor %}
        
    {% endfor %}

    {% else %}
        <p> Vous n'avez pas encore commandé sur notre site :( </p>
    {% endif %}
    </div>


    <div class="col-md-6">
        <h2> Modifier votre mot de passe </h2>

    {{form_start(form)}}
    {{form_row(form.oldPassword)}}
	{{form_row(form.password.first)}}
	{{form_row(form.password.second)}}
	<button class=""  type="submit">Envoyer</button>
    {{form_end(form)}}

    </div>

</div>
    
</div>

{% endblock %}
