{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexContact') }}

{% endblock %}

{% block title %}Ajouter une adresse{% endblock %}

{% block body %}


<div class="container p-4">
{% for message in app.flashes('notice') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<div class="row"> 
    <div class="col-md-6">
    
    <h2>Historique de commande : </h2>

    {% if not orders is empty %}
        {% if orders| length > 2  %}
            {% for  i in 0..1 %}
                {% set order = orders[i] %}
                {% include 'profil_user/_historyOrder.html.twig' with {order:order} only %} 
            {% endfor %}

            <a href="#orders" data-toggle="collapse" class= "button--adress btn  text-right ">Plus de détails ...</a>
            <div id="orders" class="collapse">
                {% for order in orders %}
                    {% if  loop.index > 2  %}
                        {% include 'profil_user/_historyOrder.html.twig' with {order:order} only %} 
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% for order in orders %}
                {% include 'profil_user/_historyOrder.html.twig' with {order:order} only %}       
            {% endfor %}
        
    
        {% endif %}
   

  

    {% else %}
        <p> Vous n'avez pas encore commandé sur notre site :( </p>
    {% endif %}
    </div>


    <div class="col-md-6">


    <h2>Adresses favorites :</h2>
    
    {% for address in addressUser %}
        {% include 'address/_cardAddress.html.twig' with {address:address, orderMode:orderMode} only %}
    {% endfor %}
    <div class="row justify-content-between align-items-center no-gutters">
        <h4> Vos points de fidélité : {{fidelityPoint}}</h4>
        <a href="{{path('profil_addAddress')}}" class="button--adress btn my-2 ">+ Ajouter une adresse</a>

    </div>


    <div class="mdp--box row no-gutters mt-4 p-4 justify-content-center" style="background-color: #4563BF; color: white;">
        <h2 style="margin-bottom: 20px;"> Modifier votre mot de passe<i class="fas fa-unlock ml-4"></i></h2>

        {{form_start(form)}}
        {{form_row(form.oldPassword)}}
        {{form_row(form.password.first)}}
        {{form_row(form.password.second)}}
        <div class="row">
            <button class="button--adress btn mx-auto w-50"  type="submit">Envoyer</button>
        </div>
        {{form_end(form)}}
    </div>
   

    </div>


</div>
    
</div>

{% endblock %}
