{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container form_container" style="position:absolute;top:40%; left:50%; transform: translate(-50%,-50%);">
    <h1 class="text-center"> Nous contacter </h1>
    <div class="d-flex flex-column w-75 mx-auto pt-4">

{{ form_start(contactForm)}}


    {{ form_row(contactForm.name)}}
    {{ form_row(contactForm.email)}}
    {{ form_row(contactForm.reason)}}
    {{ form_row(contactForm.content)}}
    
    <button type="submit" class="btn btn-dark w-25 mx-auto mt-4">Envoyer</button>
    
    {{ form_end(contactForm)}}

    </div>
</div>



{% endblock %}
