{% extends 'base.html.twig' %}

{% block title %}Hello ContactFormController!{% endblock %}

{% block body %}

{{ form_start(contactForm)}}
<div class="container form_container">
    <div class="d-flex flex-column w-75 mx-auto pt-4">

    {{ form_row(contactForm.name)}}
    {{ form_row(contactForm.email)}}
    {{ form_row(contactForm.reason)}}
    {{ form_row(contactForm.content)}}
    
    <button type="submit" class="btn btn-dark w-25 mx-auto mt-4">Envoyer</button>
    
    {{ form_end(contactForm)}}

    </div>
</div>



{% endblock %}
