{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexContact') }}
{% endblock %}

{% block body %}


{{ form_start(contactForm)}}
<div class="container form_container" style="position:absolute;top:40%; left:50%; transform: translate(-50%,-50%);">
    <div class="d-flex flex-column text-center p-4 ">
        <h1> Besoin d'aide? </h1>
    </div>
    <div class="d-flex flex-column w-100 mx-auto border p-4" style="background-color: #FFE9BD;">

{{ form_start(contactForm)}}


    {{ form_row(contactForm.name)}}
    {{ form_row(contactForm.email)}}
    {{ form_row(contactForm.reason)}}
    {{ form_row(contactForm.content)}}
    
    <button type="submit" class="btn btn-dark w-25 mx-auto mt-4">Envoyer</button>
    
    {{ form_end(contactForm)}}

    </div>
</div>



{% endblock %}
