
<div class="col-md-12 col-lg-4">

    <div class="card">
        <img class="card-img img-fluid" src="{{ asset('build/images/' ~ product.images)}}" alt="Card image">
        <div class="d-flex flex-column card-img-overlay justify-content-end text-center">
                <h4> {{product.name}} </h4> 
                <p class="card-text"> {{ product.cardDescription}}</p>
                <em class="text-muted text-primary text-italic ">
                    #{{product.category.name}}
                    </em>
                <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('pageProduct', {'id' : product.id})}}">View</a>
                </div>
                <strong class="text-muted" style="font-size: 30px;">{{product.price | number_format(0,',', ' ')}} €</strong>

                <div class="btn-group">
                    <a class="js_addCartLink btn btn-sm btn-dark btn-outline-secondary" href="{{path ('cart_add', {'id' : product.id})}}">Ajouter au panier</a>
                </div>

                </div>


            </div>
    </div>


</div>
 
