<div class="col-md-3">
    <div class="card mb-4 box-shadow">
    <img src="" width="100%" alt="Card image cap"/>
    <div class="card-body">
        <h4> {{product.name}} </h4> 
        <p class="card-text"> {{ product.cardDescription}}</p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('cart_add', {'id' : product.id}) }}">Ajouter au panier</a></button>
        </div>
        <small class="text-muted">{{product.price | number_format(0,',', ' ')}} €</small>
        </div>
        <div>
            <em class="text-muted text-primary text-italic">
                #{{product.category.name}}
                </em>

        </div>
    </div>
    </div>
</div>