
{{form_start(form,{attr : {class: 'filter text-left text-dark'}}) }}
{{form_row(form.q)}}
<h4> Catégories </h4>
{{form_row(form.categories)}}

<h4> Prix</h4>
<div class="d-flex flex-row no-gutters">
    <div class="col-md-4 mr-2">
    {{form_row(form.min)}}
    </div>
    <div class="col-md-4">
    {{form_row(form.max)}}
    </div> 
</div>
{{form_row(form.Filtrer, {attr : {class: 'btn btn-light w-50 mx-auto'}})}}
{{form_end(form)}}