{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block body %}


    <div class="container-fluid product_page">

        <div class="d-flex flex-row justify-content-center align-items-start no-gutters">

            <div class=" d-flex flex-column col-6">

                    <div class="card text-white align-items-end">
                        <img class="image_card card-img img-fluid" style= "background-color : #41BFA8; " src="{{ asset('build/images/' ~ product.images)}}" alt="Card image">
                        <div class="d-flex flex-column card-img-overlay justify-content-end">
                            <h1 class="card-title">{{ product.name}}</h1>
                        </div>
                    </div>     


            </div>

            <div class="d-flex flex-column col-4 image_info px-2 ">

                <div class="row no-gutters">
                    <div class="col-12 border ">
                        <div class="d-flex flex-column justify-content-between p-2 no-gutters">
                            <h2>{{ product.name}}</h2>
                        {% if commentaries %}
                            {% set sum_note = null %}
                            {% set loop_nbr = 0 %}
                            {% set vote_nbr = 0 %}
                            {% for commentary in commentaries %}
                                {% set sum_note = sum_note + commentary.note %}
                                {% set loop_nbr = loop_nbr + 1 %}
                                {% if commentary.note != null %}
                                {% set vote_nbr = vote_nbr + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if sum_note != null %}
                                {% set average_note = sum_note / loop_nbr %}
                                Note: {{ average_note }} /5 (Vote: {{vote_nbr}})
                            {% endif %}
                        {% endif %}
                        <p><em>{{ product.description}}</em></p>
                        </div>
                        
                        <div class="row justify-content-between no-gutters">
                            <div class="price_box d-flex flex-column col-4 px-2 justify-content-center border">
                                <p>{{ product.price}} €</p>
                        
                            </div>
                            <div class="col-8 p-2 border">
                            <h4>{{form(form)}}</h4>
                            </div>
                        </div>

                        <div class="row no-gutters">

                            <div class="col-12  p-4">
                            <h4 style="text-align: center;">Produits complémentaires</h4>
                            <hr>
                            </div>
                            {# CARROUSSEL #}

                            <div class="col-12">
                                <div id="carouselExampleIndicators" class="carousel slide w-50 mx-auto" data-ride="carousel">
                                    <div class="carousel-inner">

                            {% set activeCarrousel = false %}

                            {% for product in productsAssociated  %}
                                {% if not activeCarrousel %}
                                <div class="carousel-item active">
                                {% set activeCarrousel = true %}
                                {% else %}
                                <div class="carousel-item">
                                {% endif %}
                                
                                        <img class="img-fluid d-block" src="{{ asset('build/images/' ~ product.images)}}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4>{{product.name}}</h4>
                                            <p class="price">{{product.price}}</p>
                                            <a  class=" btn btn-info" href="{{path ('pageProduct', {'id' : product.id})}}">Voir</a>
                                        </div>
                                </div>
                            {% endfor %}
                                </div>

                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </a>
                            </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-8 ">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{form_start(form_comment)}}
                    <div class="row">
                        <!-- <div align="center">
                            <i class="star" data-index="0"></i>
                            <i class="star" data-index="1"></i>
                            <i class="star" data-index="2"></i>
                            <i class="star" data-index="3"></i>
                            <i class="star" data-index="4"></i>
                            <br><br>
                        </div> -->
                        <div class="col-1">
                            {{form_row(form_comment.note)}}
                        </div>
                    </div>
                    {{form_row(form_comment.commentary)}}
                    {{form_end(form_comment)}}
                {% endif %}
                <div>
                    
                    {% if commentaries %}
                        <h6>Commentaires:</h6>
                    {% endif %}
                    {% for commentary in commentaries %}
                    <div class="row">
                        <div class="col-6">
                            <h6>{{commentary.username.username}}</h6>
                            {% if commentary.note %}
                            <p>{{commentary.note}}/5</p>
                            {% endif %}
                            <p>{{commentary.commentary}}</p>
                        </div>
                        {% if (is_granted('IS_AUTHENTICATED_FULLY') and commentary.username.id == user.id) or (is_granted('ROLE_ADMIN')) %}
                        <div class="col-2">
                            <a href="{{path('edit_comment', {'id' : product.id, 'idcomment' : commentary.id} )}}">edit</a>
                            <a class="js_deleteComment" data-idcomment = "{{commentary.id}}" data-id="{{product.id}}"  href="{{ path('delete_comment', {'id' : product.id, 'idcomment' : commentary.id} )}}">delete</a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    
{% endblock body %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('comment') }}
{% endblock %}