<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            .filter{
                display:block; 
                position:sticky; 
                top: 20px; 
            }
            .grid{
                display:grid; 
                grid-template-columns: repeat(3, 1fr); 
                grid-gap: 20px;  
            }
        </style>
    </head>
    <body>
        <header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('homepage')}}">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{{ path('pageCategory', {'id' : 1}) }}">Vêtements <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('pageCategory', {'id' : 2}) }}">Accesoires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('pageCategory', {'id' : 4}) }}">Maison</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('pageCategory', {'id' : 5}) }}">Bureau</a>
      </li>    
    </ul>
    <form method="POST" action="{{ path('homepage') }}" class="form-inline my-2 my-lg-0">
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{{ path('contact_form') }}">Contact <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Connecter <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WishList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('cart_index') }}">Panier</a>
        </li>          
      </ul>
  </div>
</nav>
      </header>
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
