<div class="card d-flex">
        <div class="card-body">
        <span class="card-text"> {{address.nameUser}} </br></span>
        <span class="card-text"> {{address.street}} </br></span>
        <span class="card-text"> {{address.zipCode}} {{address.city}}</span>
        <div class="d-flex">
         {% if orderMode %}
        {# <a href="{{path('order_useAddress', {'id' : address.id})}}" class="btn btn-success">Utiliser</a> #}
        {% endif %}
        <a href="{{path('profil_updateAddress', {'id' : address.id})}}" class="btn btn-warning">Modifier</a>
        <a href="{{path('profil_rmAddress', {'id' : address.id})}}" class="btn btn-danger">Supprimer</a> 
              
        </div>        
        </div>
    </div>  